



h1{
    font-family: 'Carter One', cursive;
font-family: 'Mochiy Pop One', sans-serif;
font-family: 'Neucha', cursive;
font-family: 'Rubik Mono One', sans-serif;
}
p{
    font-family: 'Neucha', cursive;
}


.cuadro-padre{
background-color: bisque;
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width:1500px;
    height: 300px;
    align-items: stretch;
}
.cuadro{
    background-color: brown;
    height: 100px;
    width: 100px;
    margin: 20px;
display: inline-block;
padding: 10px;
border: #e00 10px;
border-radius: 10px 20px 30px 40px ;

}
.el-1{

    background-color: rgb(142, 142, 211);
    
align-self: flex-start;
flex-grow: 5;
}

.el-2{
    background-color: rgb(60, 60, 70);
    align-self: center;
flex-grow: 1;

}
.el-3{
    background-color: rgb(133, 190, 121);
    align-self: flex-end;
flex-grow: 1;
  
}
.el-4{
    background-color: rgb(163, 197, 71);
   
    align-self: flex-end;
flex-grow: 3;

}
.contenedor{

    background-color: rgb(143, 223, 143);
    max-width: 1500px;
    height: 100px;
    /* margin verti horiz */
    margin: 10px auto;
}

.fila{

    display: flex;
}
.columna{
    flex-grow: 1;
}